@import "./syntax.less";

.ASTRoot {
  position: relative;
  display: flex;
  flex-direction: column;
}

.ASTViewer {
  position: relative;
  background: white;
  padding: 8px;

  &.scrolling {
    flex: 1 1 auto;
    overflow: auto;
  }
}

.ASTNode {
  white-space: pre;

  &.highlight {
    background: @highlight-color;
    text-decoration: underline;
  }

  /* Block with curlies inside an ASTNode. */
  .ASTBlock.indented {
    // Indent blockContents. This looks right but loses spaces on copy-paste.
    & > .blockContents {
      display: inline-block;
      vertical-align: top;
      margin-left: 1em;

      & > .whitespace.indent {
        display: none;
      }
    }
    /* end .ASTBlock */
  }

  .punctuation {
    .syntax-punctuation();
  }
  .operator {
    .syntax-operator();
  }

  .keyword,
  &.ASTNullLiteral,
  &.ASTUndefinedLiteral,
  &.ASTThisLiteral {
    .syntax-keyword();
  }

  &.ASTLineComment,
  &.ASTBlockComment {
    .syntax-comment();
  }

  &.ASTLineComment.header {
    .syntax-comment-header();
  }

  &.ASTParserAnnotation {
    .syntax-parser-annotation();
  }

  &.ASTParseError {
    .syntax-parse-error();
  }

  &.ASTStringLiteral,
  &.ASTQuotedExpression,
  &.ASTQuotedExpression .ASTPropertyLiteral {
    .syntax-string();
  }

  &.ASTConstantExpression {
    .syntax-enum();
  }

  &.ASTNumericLiteral {
    .syntax-number();
  }

  &.ASTBooleanLiteral {
    .syntax-boolean();
  }

  &.ASTTypeExpression {
    .syntax-class();
  }
  // &.ASTPrototypeExpression .keyword.prototype {
  //   .syntax-class()
  // }

  &.ASTVariableExpression > .name {
    .syntax-variable();
  }
  &.ASTAssignmentStatement.declaration .ASTVariableExpression > .name {
    .syntax-variable-declaration();
  }

  &.ASTVariableExpression.argument > .name {
    .syntax-parameter();
  }

  &.ASTVariableExpression.global > .name {
    .syntax-global-variable();
  }

  &.ASTPropertyLiteral {
    .syntax-property();
  }

  &.ASTMethodDefinition > .method-name,
  &.ASTMethodInvocation > .method-name {
    .syntax-function();
  }

  /* end .ASTNode */
}
