.CodeMirror {
  font-family: Lato, Arial, sans-serif;
  height: 100%;
}

.react-codemirror2 {
  height: 100%;
}

.CodeMirror-scroll {
  padding-left: 0.5em;
}

.CodeMirror.cm-s-solarized {
  box-shadow: none;
}

.CodeMirror-gutters {
  background-color: white;
  border-right: 0px;
}

.CodeMirror .cm-tab {
  position: relative;
  top: 15px;
  height: 3px;
  border: dotted skyblue;
  border-width: 0px 1px 1px 0px;
  margin-right: 3px;
}
