// SUI CUSTOM STYLING

.ui.menu.AppMenu {}

.ui.menu.PanelMenu {
  z-index: 10;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);

  .item.header {
    padding-left: 1em;
  }
}



// Light-grey menu
.ui.menu.light-grey {
  z-index: 10;
  background: #bbb;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  border: none !important;

  .item {
    color: rgba(0,0,0,.87);
  }
}

// "medium-short" menu
.ui.menu.medium-short {
  min-height: 32px;
  .item {
    padding-top: 0;
    padding-bottom: 0;
  }  
}

// "short" menu
.ui.menu.short {
  min-height: 28px;
  .item {
    padding-top: 0;
    padding-bottom: 0;
  }  
}

// "tight" menu
.ui.menu.tight {
  .item {
    padding-left: 8px;
    padding-right: 8px;
  }  
}


// remove border from a menu-item with `className="no-border"`
.ui.menu .item.no-border:before {
  width: 0px;
}

// make a "springy" item with `<Menu.Item className="spring"/>`
.ui.menu .item.spring {
  flex: 1 1 auto;
}



// `<Menu.Item class="dropdown-label">` for a label next to a <Dropdown>.
.ui.menu .item.dropdown-label {
  padding: 0 0 0 1em;
  opacity: 0.8;
  &:before {
    width: 0;
  }

  & + .ui.dropdown.item {
    padding-left: 0.6em;
  }
}

/** Standard Spell modal apperance */
.ui.modal.SpellModal {
  > .header {
    padding: 1rem;
  }
  > .content > .message {
    font-size: 1.25em;
  }
  > .actions {
    padding: 0.5rem;

    & > .leftButtons {
      float: left;
    }
  }
}

/** Default button appearance. */
.ui.button.default {}

/** Invalid form fields. */
.spell.input-hint {
  display: block;
  color: rgba(0,0,0,.5);
  font-size: .8em;
  line-height: 1.4em;
  padding-top: 0.4em;
  height: 1.8em;

  &.error {
    color: #9f3a38;
  }
}